@import "libs/normalize";
@import "base/variables";
@import "base/mixins";
@import "base/fonts";
* {
    box-sizing: border-box;
    font-family: "Museo Sans Cyrl";
    font-size: 18px;
    font-weight: 500;
    color: $grey-color;
}
*:before,
*:after {
    box-sizing: border-box;
}
.container {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

@import "blocks/header";
@import "blocks/promo";
@import "blocks/button";
@import "blocks/advantages";
@import "blocks/sale";
@import "blocks/sertification";
@import "blocks/about";
@import "blocks/request";
@import "blocks/comparison";
@import "blocks/address";
@import "blocks/footer";
@import "blocks/modals";
@import "blocks/media";
