.address {
    min-height: 420px;
    padding: 50px 0;
    background-color: #ecf3f8;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__geolocation {
        width: 460px;
        height: 320px;
        border-radius: 10%;
    }
    &__info {
        max-width: 320px;
        text-align: center;
        padding: 80px 0 0;
        margin: 0 auto;
        &-text {
            font-weight: 300;
            font-size: 16px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                width: 24px;
                height: 32px;
                background-image: url("../icons/geo.png");
                background-repeat: no-repeat;
                background-size: contain;
                top: -45px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        address {
            font-weight: 700;
            font-size: 20px;
            color: $main-color;
            display: block;
            margin: 20px 0 45px;
            font-style: normal;
        }
    }
    &__btn {
        margin-top: 20px;
    }
}
