.advantages {
    min-height: 1454px;
    padding-top: 75px;
    &__title {
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin: 0;
    }
    &__item {
        padding: 110px 90px 0;
        display: flex;
        justify-content: space-between;
        margin: 0;
        &-descr {
            max-width: 400px;
        }
        &-title {
            font-size: 30px;
            font-weight: 700;
            color: $main-color;
            padding-top: 50px;
            margin-bottom: 30px;
            position: relative;
            max-width: 380px;
            &:before {
                position: absolute;
                content: "";
                width: 200px;
                height: 52px;
                background-image: url("../icons/arrow-right.png");
                background-repeat: no-repeat;
                background-size: contain;
                top: -30px;
                left: 75%;
            }
            &.right {
                text-align: right;
                margin-left: auto;
                &:before {
                    position: absolute;
                    content: "";
                    width: 200px;
                    height: 52px;
                    background-image: url("../icons/arrow-left.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    top: -30px;
                    left: -30%;
                }
            }
        }
        &-text {
            font-size: 17px;
            font-weight: 300;
            margin-right: 20px;
            &.right {
                text-align: right;
                margin-right: 0;
                margin-left: 20px;
            }
        }
        &-img {
            width: 300px;
            height: 300px;
            object-fit: cover;
            margin-top: 15px;
            position: relative;
            border-radius: 100%;
            // border-bottom: 1px solid black;
            box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.8);
            img {
                max-width: 100%;
                object-fit: cover;
            }
        }
        &:nth-child(2) {
            padding-top: 95px;
        }
        &:nth-child(3) {
            padding-top: 82px;
        }
    }
}
