@media (max-width: 960px) {
    .sertification {
        &__inner {
            grid-template: 155px / repeat(4, 1fr);
            margin-bottom: 80px;
            gap: 20px;
        }
        &__item {
            span {
                font-size: 40px;
                line-height: 130px;
            }
        }
        &__title {
            margin-bottom: 40px;
        }
        &__about {
            // padding: 0 50px;
            align-items: center;
            &-img {
                width: 230px;
                object-fit: contain;
            }
            &-important {
                font-size: 20px;
                margin-bottom: 20px;
            }
            &-descr {
                margin-bottom: 16px;
            }
        }
    }
    .about {
        padding: 100px 0 30px;
        &__inner {
            padding: 0 20px;
        }
    }
    .comparison {
        &__inner {
            grid-template-columns: auto;
            row-gap: 0;
        }
        &__item {
            padding-right: 20px;
            &:before {
                display: none;
            }
            &_blue {
                padding-left: 20px;
            }
        }
    }
}

@media (max-width: 925px) {
    .advantages {
        min-height: 1100px;
        padding-top: 50px;
        &__title {
            margin-bottom: 10px;
        }
        &__item {
            padding: 0 30px;
            &-descr {
                max-width: 100%;
                align-self: center;
            }
            &-title {
                padding-top: 25px;
                margin-bottom: 10px;
                font-size: 24px;
                min-width: 90%;
                &:before {
                    display: none;
                }
            }
            &:nth-child(2) {
                padding-top: 0;
            }
            &:nth-child(3) {
                padding-top: 0;
            }
            &-text {
                font-size: 17px;
            }
        }
    }
    .sale {
        &__price {
            top: 150px;
            left: 30%;
            &:before {
                top: 105%;
                left: 60%;
            }
        }
    }
    .sertification {
        &__about {
            padding: 0 20px;
            &-inner {
                max-width: 450px;
            }
        }
    }
    .request {
        &__price {
            left: 28%;
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 740px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .header {
        min-height: 20px;
        padding: 5px 0;
        &__logo {
            &-img {
                width: 80%;
                object-fit: contain;
            }
        }
        &__tel {
            font-size: 20px;
            text-align: right;
        }
    }
    .promo {
        &__title {
            font-size: 35px;
            line-height: 40px;
        }
        &__subtitle {
            font-size: 20px;
        }
    }
    .advantages {
        padding: 30px 0;
        &__title {
            font-size: 30px;
            padding-bottom: 15px;
        }
        &__item {
            flex-direction: column;
            padding: 0;
            margin-bottom: 20px;
            &:nth-child(2) {
                padding-top: 0;
            }
            &:nth-child(3) {
                padding-top: 0;
            }
            &-title {
                margin: 0 0 15px;
                max-width: 100%;
                text-align: center;
                padding-top: 0;
                font-size: 25px;
                &:before {
                    display: none;
                }
                &.right {
                    margin: 0 0 15px;
                    max-width: 100%;
                    text-align: center;
                }
            }
            &-descr {
                max-width: 100%;
                text-align: center;
                order: 1;
            }
            &-text {
                margin: 0;
                margin-bottom: 20px;
                &.right {
                    margin: 0;
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
            &-img {
                margin: 0;
                left: 50%;
                transform: translateX(-50%);
                order: 2;
                max-width: 60%;
                object-fit: contain;
                box-shadow: none;
            }
        }
    }
    .sale {
        background-position: 20% 0;
        &__inner {
            margin-left: 0;
        }
        &__title {
            font-size: 32px;
            text-align: left;
            line-height: 30px;
            span {
                font-size: 20px;
                &:nth-child(2) {
                    font-size: 18px;
                    line-height: 20px;
                    padding-left: 30px;
                    &:before {
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                    }
                }
            }
        }
        &__price {
            top: 170px;
            &:before {
                top: 60%;
                left: -50%;
                transform: rotate(80deg);
            }
        }
        &__promotion {
            margin: 180px auto 0 0;
        }
    }
    .sertification {
        &__title {
            font-size: 30px;
        }
        &__inner {
            grid-template: repeat(2, 155px) / repeat(2, 1fr);
            gap: 20px 110px;
            margin-bottom: 100px;
        }
        &__item {
            span {
                font-size: 40px;
                line-height: 130px;
            }
            &:first-child {
                justify-self: end;
            }
            &:nth-child(2) {
                justify-self: start;
            }
            &:nth-child(3) {
                justify-self: end;
            }
            &:nth-child(4) {
                justify-self: start;
            }
        }
        &__about {
            flex-direction: column;
            &-inner {
                max-width: 100%;
                margin-top: 10px;
            }
            &-descr {
                font-size: 17px;
            }
        }
    }
    .about {
        padding-top: 50px;
        &__inner {
            padding: 0 20px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, auto);
            row-gap: 10px;
        }
        &__item {
            max-width: 100%;
            text-align: left;
            &:before {
                display: none;
            }
            &_first {
                grid-row: 2/3;
            }
            &_second {
                grid-row: 3/4;
            }
            &_third {
                grid-row: 4/5;
                grid-column: 1/2;
            }
            &_fourth {
                grid-row: 5/6;
                grid-column: 1/2;
            }
            &-descr {
                font-size: 17px;
                margin: 10px 0;
            }
        }
        &__img {
            grid-row: 1/2;
        }
    }
    .request {
        padding: 50px 0;
        background-position: 55% 0;
        &__price {
            top: 25px;
            left: 18%;
        }
        &__inner {
            margin: 0 0 0 auto;
        }
        &__label {
            font-size: 18px;
            line-height: 22px;
            span {
                &:after {
                    display: none;
                }
            }
        }
    }
    .address {
        padding: 30px 0;
        &__inner {
            flex-direction: column;
            align-items: center;
        }
        &__geolocation {
            width: 100%;
            height: 250px;
            border-radius: 0;
        }
        &__info {
            max-width: 100%;
            padding-top: 55px;
            &-text {
                font-size: 15px;
                &:before {
                    top: -40px;
                }
            }
            & address {
                font-size: 18px;
                margin: 10px 0 20px;
            }
        }
        &__btn {
            margin-top: 10px;
        }
    }
    .footer {
        padding: 17px 0;
        &__logo {
            &-img {
                width: 80%;
                object-fit: contain;
            }
        }
        &__policy {
            text-align: right;
        }
        &__code {
            font-size: 14px;
        }
    }
}

@media (max-width: 670px) {
    .comparison {
        padding: 40px 0;
        &__title {
            font-size: 20px;
        }
        &__inner {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        &__item {
            text-align: left;
            padding: 0;
            &:first-child {
                grid-row: 5/6;
                grid-column: 1/2;
            }
            &:nth-child(2) {
                grid-row: 6/7;
                grid-column: 1/2;
            }
            &:nth-child(3) {
                grid-row: 7/8;
                grid-column: 1/2;
            }
            &:nth-child(4) {
                grid-row: 8/9;
                grid-column: 1/2;
            }
            &:nth-child(6) {
                grid-row: 5/6;
                grid-column: 2/3;
            }
            &:nth-child(7) {
                grid-row: 6/7;
                grid-column: 2/3;
            }
            &:nth-child(8) {
                grid-row: 7/8;
                grid-column: 2/3;
            }
            &:nth-child(9) {
                grid-row: 8/9;
                grid-column: 2/3;
            }
        }
        &__img {
            grid-row: 1/5;
            grid-column: 1/3;
        }
    }
}

@media (max-width: 530px) {
    .request {
        &__price {
            left: 8%;
        }
    }
    .footer {
        &__code {
            display: none;
        }
    }
}
@media (max-width: 480px) {
    .request {
        margin-bottom: 30px;
        &__price {
            display: none;
            // left: 0;
        }
    }
}
@media (max-width: 423px) {
    .container {
        max-width: 400px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .header {
        min-height: 20px;
        padding: 5px 0;
        &__logo {
            &-img {
                width: 70%;
                object-fit: contain;
            }
        }
        &__tel {
            font-size: 16px;
            text-align: right;
        }
        &__call {
            text-align: right;
        }
    }
    .promo {
        background-position: 40% center;
        &__title {
            font-size: 25px;
            line-height: 30px;
        }
        &__subtitle {
            max-width: 200px;
            margin-left: auto;
            font-size: 17px;
        }
        &__form {
            &-title {
                font-size: 16px;
                &-btn {
                    font-size: 12px;
                    width: 100%;
                }
            }
        }
    }
    .advantages {
        min-height: 480px;
        padding-top: 40px;
        &__title {
            font-size: 22px;
        }
        &__item {
            display: block;
            padding: 0;
            margin-bottom: 0;
            &:nth-child(2) {
                padding-top: 0;
            }
            &:nth-child(3) {
                padding-top: 0;
            }
            &-descr {
                max-width: 400px;
            }
            &-title {
                font-size: 18px;
                text-align: center;
                margin-bottom: 10px;
                &:before {
                    display: none;
                }
                &.right {
                    text-align: center;
                    margin: 0 0 10px 0;
                }
            }
            &-text {
                margin-right: 0;
                text-align: center;
                font-size: 14px;
                &.right {
                    text-align: center;
                    margin-left: 0;
                }
            }
            &-img {
                display: none;
            }
        }
    }
    .sale {
        &__price {
            top: 170px;
            left: 35%;
        }
        &__promotion {
            margin: 180px auto 0 0;
        }
    }
    .sertification {
        &__inner {
            gap: 20px 60px;
            margin-bottom: 50px;
        }
        &__item {
            font-size: 14px;
            span {
                font-size: 30px;
            }
        }
        &__title {
            font-size: 25px;
            margin-bottom: 20px;
        }
        &__about {
            &-inner {
                max-width: 100%;
            }
            &-important {
                font-size: 16px;
                padding-left: 0;
                margin-bottom: 15px;
                text-align: center;
                &:before {
                    display: none;
                }
            }
            &-descr {
                font-size: 14px;
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }
    .about {
        &__item {
            &-title {
                font-size: 18px;
                text-align: center;
            }
            &-descr {
                font-size: 15px;
                text-align: center;
                margin: 5px 0 10px;
            }
        }
    }
    .request {
        &__price {
            display: none;
        }
        &__label {
            span {
                margin-bottom: 23px;
            }
        }
        &__input {
            margin-bottom: 23px;
        }
    }
    .comparison {
        padding: 10px 0 30px;
        &__titles {
            margin-bottom: 10px;
            padding-left: 0;
        }
        &__title {
            font-size: 20px;
        }
        &__inner {
            grid-template-columns: 1fr;
            grid-template-rows: minmax(30px, auto);
            gap: 10px 0;
            // repeat(9, 1fr);
        }
        &__item {
            text-align: center;
            padding: 0;
            font-size: 14px;
            &:first-child {
                // grid-row: 5/6;
                // grid-column: 1/2;
                display: none;
            }
            &:nth-child(2) {
                // grid-row: 6/7;
                // grid-column: 1/2;
                display: none;
            }
            &:nth-child(3) {
                // grid-row: 7/8;
                // grid-column: 1/2;
                display: none;
            }
            &:nth-child(4) {
                // grid-row: 8/9;
                // grid-column: 1/2;
                display: none;
            }
            &:nth-child(6) {
                grid-row: 5/6;
                grid-column: 1/2;
            }
            &:nth-child(7) {
                grid-row: 6/7;
                grid-column: 1/2;
            }
            &:nth-child(8) {
                grid-row: 7/8;
                grid-column: 1/2;
            }
            &:nth-child(9) {
                grid-row: 8/9;
                grid-column: 1/2;
            }
        }
        &__img {
            max-width: 55%;
            object-fit: contain;
        }
    }
    .address {
        &__geolocation {
            width: 100%;
            height: 200px;
        }
        &__info {
            &-text {
                font-size: 14px;
                &:before {
                    height: 28px;
                    top: -35px;
                }
            }
        }
        & address {
            font-size: 16px;
        }
    }
    .footer {
        padding: 10px 0;
        &__logo {
            &-img {
                width: 70%;
                object-fit: contain;
            }
        }
        &__code {
            display: none;
        }
    }
}
@media (max-width: 334px) {
    .promo {
        &__subtitle {
            margin-bottom: 20px;
        }
        &__form {
            margin: 0 auto;
            &-btn {
                padding: 15px 39px;
            }
        }
    }
    .advantages {
        min-height: 470px;
        &__item {
            &-title {
                font-size: 16px;
            }
            &-text {
                font-size: 13px;
            }
        }
    }
    .sale {
        background-position: 21% 0;
        padding-top: 40px;
        &__promotion {
            margin: 190px auto 0;
        }
        &__price {
            top: 150px;
        }
    }
    .request {
        &__inner {
            margin: 0 auto;
        }
        &__label {
            span {
                margin-bottom: 18px;
            }
        }
        &__input {
            margin-bottom: 18px;
        }
    }
}
